
<div class="contactUs-wrap">
    <div class="contactUs-text">
        <div class="textinfo-title">
            <p class="p-title">联系我们</p>
            <p>如有问题或意见请与我们联系</p>
        </div>
        <div class="container">
            <div class="row contactUs-center">
                <div class="contactUs-inlinblock">
                    <div class="col-sm-4">
                       <div class="p-img" id="pimg">
                            <a><p class="contactUs-fn16">中国·上海</p>
                            上海市宝山区呼兰西路60弄卓越时代广场7号楼312室</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="p-img2">
                            <a href="#"><p class="contactUs-fn16">项目联系</p>我们准备好迎接挑战</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="p-img3">
                            <a href="#"><p class="contactUs-fn16">招聘</p>加入我们的团队</a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="p-tel"><a href="#">400-888-8888</a></p>
            <p class="p-mailto"><a href="#">188@888.com</a></p>
        </div>
    </div>
    <!--百度地图容器-->
    <div id="mapcase">
        <div style="width:70%;height:90%;border:#ccc solid 1px;" id="dituContent" class="text-center">
        </div>
    </div>
</div>

