<link rel="stylesheet" href="../css/onepage-scroll.css">
<script src="../js/jquery.onepage-scroll.min.js"></script>
<link rel="stylesheet" href="../css/animateOnePage.css">
<div class="main">
    <div class="container">
        <div class="page product-web">
            <div class="text-center animated bounceInLeft">
                <p>网站/商城/微信</p>
                <p class="raleway-heavy-webfont">开发</p>
                <img class="animated bounceInLeft" src="../image/index-bannerimg.png" alt="">
            </div>
        </div>
        <div class="page product-mobile">
            <div class="text-center animated bounceInUp">
                <p>移 动 互 联 网 产 品</p>
                <p class="raleway-heavy-webfont">开发</p>
                <img class="animated bounceInUp" src="../image/index-bannerimg-1.png" alt="">
            </div>
        </div>
        <div class="page product-company">
            <div class="text-center animated bounceInLeft">
                <p>企 业 级 系 统 应 用</p>
                <p class="raleway-heavy-webfont">开发</p>
                <img class="animated bounceInLeft" src="../image/index-bannerimg-2.png" alt="">
            </div>
        </div>
        <div class="page product-marketing">
            <div class="text-center animated bounceInUp">
                <p>H5 互 动 营 销</p>
                <p class="raleway-heavy-webfont">制作</p>
                <img class="animated bounceInUp" src="../image/index-bannerimg-3.png" alt="">
            </div>
        </div>
    </div>
</div>
